.App {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.file-upload-label {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}
.president{
  font-weight: bold;
  font-size: 10pt;
}
.file-upload-label:hover {
  background-color: #0056b3;
}

input[type="file"] {
  display: none;
}

.grade-table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

.grade-table th,
.grade-table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

.grade-table th {
  background-color: white;
  text-align: left;
  color: black;
}

.export-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.export-btn:hover {
  background-color: #45a049;
}

.loading-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #ccc;
  border-top: 3px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

.loading-text {
  font-style: italic;
  color: #555;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  margin-top: 10px;
}
.user-select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.user-select:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.user-search-input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 240px;
  margin-right: 10px;
  transition: border-color 0.2s ease;
}

.user-search-input:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}
.student-select-wrapper {
  margin: 1rem 0;
}

.user-search-input,
.user-select {
  padding: 6px;
  font-size: 1rem;
}
