/* CourseMatrix.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.thead th {
  background-color: #f3f3f3;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

.tbody td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

.tbody td.courseName {
  text-align: left;
  font-weight: 500;
}

.tbody td.taken {
  background-color: #d4edda; /* light green for ✅ */
  color: #155724;
}

.tbody td.notTaken {
  
  color: #721c24;
}
.tbody td.fail {
  background-color: #ffcccc;   /* stronger red for FAIL */
  color: #e82b2b;
  font-weight: bold;
}
.container {
  width: 100%;
  /* height: 100%; */
 /* height: 95vh;             use fixed viewport height */
  overflow-y: auto;        /* vertical scroll */
  overflow-x: hidden;      /* no horizontal scroll */
  box-sizing: border-box;  /* include padding/border in height */
  margin: 0;
  padding: 0;
}



/* Sticky header */
.stickyHeader {
  position: sticky;
  top: 0;
  background: #f7f7f7;
  z-index: 10;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}
.table {
  width: 100%;
  table-layout: fixed; /* prevent horizontal overflow */
  border-collapse: collapse;
}

.cell {
  padding: 8px;
  border: 1px solid #ccc;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}

.stickyCol {
  position: sticky;
  left: 0;
  background: white;
  z-index: 5;
}

