.table {
  width: 100%;
  border-collapse: collapse;
}

.th, .td {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: left;
}

.th {
  background-color: #f5f5f5;
}

.trHover:hover {
  background-color: #f0f8ff;
}
.trTotal {
  background-color: #f0f0f0;
  font-weight: bold;
}